
<div class="footer-field">
    <div class="footer-content">
        <div class="campany-info">
            <p class="mail">steelnca@gmail.com</p>

        </div>

        <div class="description">
            <p>
                Elevate your content creation game with our Text Content Analysis Service. Join countless satisfied users who have already witnessed the benefits of our powerful tool. Sign up today and unlock the potential of your written content.
            </p>

        </div>

        <div class="footer-navigation">
            {% include 'base/parts/nav-links.html' %}
        </div>

    </div>
    <div class="footer-summary">

        <div class="rights-content-field">
            <p>
                Copyright © 2023 - 2023 ca-Steeln
            </p>
        </div>

        <div class="socialMedia-contact-field">

            <a href="#" class="contact-link mail"><i class="fa-solid fa-envelope"></i></a>
            <a href="#" class="contact-link facebook"> <i class="fa fa-brands fa-square-facebook"></i></a>
            <a href="#" class="contact-link instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="contact-link twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="contact-link youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</div>